<div class="wrapper">

    <fieldset>
        <legend>
            <h2 class="hdg hdg_med">Edit <%= resource_name.to_s.humanize %></h2>
        </legend>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
                <%= f.label :username, :class => 'u-isVisuallyHidden' %><br />
                <%= f.text_field :username, autofocus: true, :placeholder => 'Username' %>
            </div>

            <div class="field">
                <%= f.label :email, :class => 'u-isVisuallyHidden' %><br />
                <%= f.email_field :email %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
               <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password' %>
            </div>

            <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Confirm Password' %>
            </div>

            <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off", :placeholder => 'Current Password' %>
            </div>

            <div class="actions">
              <%= f.submit "Update", :class => 'btn' %>
            </div>
        <% end %>
    </fieldset>





    <fieldset>
        <legend>
            <h3 class="hdg hdg_med">Cancel my account</h3>
        </legend>

        <div>
            Unhappy?
            <%= button_to "Cancel my account",
                registration_path(resource_name),
                data: { confirm: "Are you sure?" },
                method: :delete,
                :class => 'btn' %>
         </div>
    </fieldset>


    <%= link_to "Back", :back %>


</div>